
$roboto: 'Roboto', sans-serif;
$playfair-display: 'Playfair Display', serif;

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

$regular: 400;
$light: 300;
$black: 900;
$italic: italic;



